# Python
.venv/
venv/
.eval-venv/
__pycache__/
*.pyc

# macOS
.DS_Store

/backend/.backend-venv/
/backend/train/models/
/.model_cache/

chat_logs.csv

**/__pycache__/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
